node_modules/
# Logs
logs
*.log*

pids
*.pid
*.seed

.grunt

.lock-wscript

build/Release
node_modules

#dist folder
dist/

*.iml
.eslintcache
*.tgz

#VSCode metadata
.vscode

# Mac files
.DS_Store

.npm
typings/

