.App {
  text-align: center;
}

.crossword
{
  margin: 10px 0 100px 10px;
}

html *
{
   font-family: "Work Sans" ;
}


.column {
  float: left;
}

.rows:after {
  content: "";
  display: table;
  clear: both;
}

.checkSolved {
  margin: -150px 0 0 250px;
  clear: both;
}


.button {
  border: none;
  text-align: center;
  text-decoration: none;
  font-family: 'Montserrat', 'sans-serif';
  font-weight: 700;
  display: inline-block;
  margin: 4px 2px;
  -webkit-transition-duration: 0.4s; 
  transition-duration: 0.4s;
  cursor: pointer;
}

.buttongraysmall {
  font-size: 12px;
  padding: 8px 16px;
  background-color: white;
  color: #76877D;
  border: 2px solid #76877D;
}

.buttongraysmall:hover {
  background-color: #76877D;
  color: #fff;
}

.buttondarklarge {
  font-size: 14px;
  padding: 12px 22px;
  background-color: #e92a22; 
  color: white; 
  border: 2px solid #e92a22;
}

.buttondarklarge:hover {
  background-color: white;
  color: #e92a22;
  border: 2px solid #e92a22;
}

.footer {
  position:fixed;
  left:0;
  bottom:0;
  right:0;
  display: block;
  width: 100%;
  height: 60px;
  align-items: center;
  text-align: center;
  background-color: #white;
  color: #999;
}

.footer p {
  border: 2px solid #999;
  margin: 0 auto;
  width: 50%;
  font-family: 'Open Sans Condensed', 'Helvetica Neue';
}

.footer a {
  color:  #61829e;
  font-family: 'Open Sans Condensed', 'Helvetica Neue';
}
